<section class="comment-area">
  <div class="comment-wrapper">
    {% if site.discus_identifier %}

    <div id="disqus_thread" class="article-comments"></div>
    <script>
      (function() {
          var d = document, s = d.createElement('script');
          s.src = '//{{ site.discus_identifier }}.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}

<!-- Gitalk 评论 start  -->
  <div id="gitalk-container" class="article-comments"></div>
      <script type="text/javascript">
      var title = location.pathname.substr(0,50);//截取路径的前50个字符作为标识符
      var gitalk = new Gitalk({

      // gitalk的主要参数
          clientID: `58d14d69e775bad01cfe`,
          clientSecret: `46ad52a004908824936288e01ac6b0fba8c84ab1`,
      repo: 'talk',
  owner: 'violin321',
  admin: ['violin321 '],
          id:title,//因为这里不能超过50字符，所以做了处理，当超过50时自动截取前50
     
      });
      gitalk.render('gitalk-container');
      </script>
  <!-- Gitalk end -->

  </div>
</section> <!-- End Comment Area -->
